extends _includes/template.pug
block content
    section.firstPage
        h1.name Daniel Fedatto
        h2.prof Front end developer
    section.aboutMe
        .contentAll
            h2.titleD Sobre
            .img
                img(src="img/danielFedatto.jpg", alt="Daniel Fedatto")
            .textHold
                h3.firstLine Olá! Eu sou Daniel Fedatto,
                p.textD Atualmente resido em Passo Fundo - RS e atuo profissionalmente como Frontend Developer há mais de 3 anos, sendo que a área digital sempre foi meu campo de atuação. Autodidata, logo me identifiquei com o desenvolvimento front-end, agregando uma dose de códigos ao meu cotidiano para dar vida aos projetos.
    section.mySkills
        h2.titleD Minhas competências
        p.textD Algumas linguagens que aprendi durante o tempo que trabalho na Web
        .skillsList
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text HTML5
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text CSS3
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text Javascript
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text PugJS
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text PHP
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text Sass
            .box
                .skill
                    .imgBox
                        img(src="img/box.png", alt="box")
                    span.text MySQL
    section.otherSkills
        h2.titleD Framworks e Ferramentas
        p.textD Algumas outras ferramentas que obtive conhecimento enquanto trabalhava na Web
        .listOtherSkills
            .box
                .hold
                    p.text PHP
                    p.text Wordpress
                    p.text Facebook API
                    p.text Twitter API
                    p.text Google API
                    p.text Instagram API
            .box
                .hold
                    p.text Bootstrap
                    p.text Materialize
                    p.text Gulp.js
                    p.text Grunt.js
                    p.text Less
                    p.text Sass
            .box
                .hold
                    p.text MySQL
                    p.text Git
                    p.text Trello
                    p.text jQuery
                    p.text Webpack
                    p.text PostCSS
    section.jobs
        h2.titleD Meus trabalhos
        p.textD Alguns dos incríveis trabalhos que tive a oportunidade de trabalhar
        .listJobs
            .boxHold
                a.box(href="https://pointofsale.com.br/", target="_blank")
                    .boxImg
                        img(src="img/point_thumb.jpg", alt="Point Of Sale")
                    span.name Point Of Sale
                    span.desc Desenvolvimento Frontend completo
                    span.desc Sem utilização de framework
                    span.desc jQuery
                    span.desc Gulp
                    span.desc Sass
            .boxHold
                a.box(href="https://soletrinhas.com.br/", target="_blank")
                    .boxImg
                        img(src="img/sol_thumb.jpg", alt="Soletrinhas")
                    span.name Soletrinhas
                    span.desc Desenvolvimento Frontend completo
                    span.desc Utilização do framework Bootstrapp 4
                    span.desc jQuery
                    span.desc Grunt
                    span.desc Less
            .boxHold
                a.box(href="https://www.memorialveracruz.com.br", target="_blank")
                    .boxImg
                        img(src="img/mem_thumb.jpg", alt="Memorial da Paz")
                    span.name Memorial da Paz
                    span.desc Desenvolvimento Frontend completo
                    span.desc Utilização do framework Materialize
                    span.desc jQuery
                    span.desc Gulp
                    span.desc Sass
            .boxHold
                a.box(href="http://www.simers.com.br", target="_blank")
                    .boxImg
                        img(src="img/simers_thumb.jpg", alt="Simers")
                    span.name Simers
                    span.desc Desenvolvimento Frontend completo
                    span.desc Utilização do framework Materialize
                    span.desc jQuery
                    span.desc Gulp
                    span.desc Sass
    section.contact
        h2.titleD Contato
        p.textD Se você quer me contratar ou apenas trabalhar comigo, me envie uma mensagem! Você pode encontrar-me nas redes sociais!
        p.textD Não sou simplesmente um conversor de PSD em HTML, no mercado atualmente você encontra vários "profissionais" desse tipo, e eles são mais baratos sim, mas é isso que você procura?
        .socialHold
            a.ico.linkedin(href="https://www.linkedin.com/in/daniel-fedatto/")
        .colFullAll
            a.linkMail(href="mailto:daniel.fedatto@gmail.com?Subject=WebPage%20contact", target="_top") daniel.fedatto@gmail.com